<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bookstore</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body>
  <%- include partials/navbar.ejs %>
  <div class="section">
    <main class="container">
      <%- body %>
    </main>
  </div>
</body>
</html>
